@import "normalize.css";
@import "bootstrap.min.css";
@import "magnific-popup.css";
@import "fonts.css";
@import "template.css";

html,
body{
    height: 100%;
    display: block;    
}
body {
    background:white;
}

a:link,
a:visited{
    color: #546A67;
    text-decoration: none;
    cursor: pointer;
}

body > .container-fluid.main{
    min-height: 100%;   
    min-width: 980px;
}

.navbar-brand{
    background-image: url('../images/logotype.jpg');
    background-repeat: no-repeat;    
    background-position: center;
    width: 114px; 
    height: 111px;
}

.p,
p{
    font-size: 16px;
    color: #303033;
    font-family: GothamProLight;
}

.cd-top {
    display: block;
    margin: 0 auto;
    height: 57px;
    width:116px;   
    background: url(../images/up-top.png) no-repeat;    
    opacity: 1;    
}
.cd-top:hover{
    background-position: left bottom;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .5;
}

header .item-col{
    min-height: 111px;    
    background-position: right top;
    background-repeat: no-repeat;
}
header .item-col:first-child{ background-image: url('../images/nav-separate-left.png'); }
header .item-col-middle{
	background-image: url('../images/nav-separate-right.png'); 
	padding: 0 30px;
}
header .item-col-middle .base{ padding-right: 22px; }
header .item-col:last-child{ padding-right: 0;}


header .title{
    font-family: GothamProLight;
    font-size: 20px;
    color: #303033;
    height: 100%;
    line-height: 25px;
    text-align: center;
	margin: 0 auto;
	height: 111px;
	max-width: 305px;    
}

.btn.btn-primary:hover{
    background-size:100%;
    background: linear-gradient(to bottom, #a82734 0%,#de5967 100%);
    border-color:transparent;
    box-shadow:none;
}
/*
.btn.btn-primary:active,
.btn.btn-primary:focus{border:none;outline:0;cursor:pointer;}
.btn.btn-primary:active{top:3px;padding:0;box-shadow:0 0 0 #809e1e;}
*/

.btn.btn-primary:active {
    -webkit-transform: scale(.98);
    transform: scale(.98);
}

.btn.btn-primary{
    width:220px;
    padding:0;
    line-height:40px;
    height:40px;
    font-size:16px;
    font-family: GothamProRegular;
    border-radius:3px!important;        
    background-size:100%;
    background: linear-gradient(to bottom, #de5967 0%,#a82734 100%);
    border:1px solid #c43342;
/*    box-shadow:0 3px 0 #d38c02;    */
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    position:relative;
/*    box-shadow:3px 3px 3px #85cbd1;*/
    text-align:center;
    color:white !important;
	
	margin-top: -3px;
	height: 44px;
	line-height: 44px;	
}

.will-call {
    float: right;
    text-align: center;
    width: 220px;
    margin-top: 20px;
}
.will-call i{
    font-style: normal;
    color: #4f4f4f;
    font-size: 20px;
    font-family: GothamProRegular;
    display: block;
    margin-bottom: 5px;
}


.title{
    width: 100%;
    color: #303033;
    font-family: GothamProRegular;
    font-size: 30px;
    display: block;
    text-align: center;
	margin: 0;
}
.title i{
    display: block;
    font-style: normal;
}


.row{
    background-repeat: no-repeat;
    background-position: center top;
}

.main-top{
    min-height: 656px;
    background-image: url('../images/back-top.jpg');
    
}
.main-top .title.width-small{
    max-width: 420px;
    font-size: 48px;
    padding-top: 118px;
    text-align: left;
	padding-left: 11px;
	line-height: 57px;
}

.main-top .title span{
    display: block;
    font-size: 36px;
    font-family: GothamProLight;
    margin-top: 7px;
}

.main-top .minHeight{ min-height: 469px;}

.size24{ font-size: 24px;}

.title.line-height{
    padding: 39px 0 42px 0;
}

.main-form{
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}
.main-form .item-col{ padding: 0;}
.main-form .item-col-middle{ padding: 0 9px;}


.text-empty{
    border: 1px solid #bababa;
    border-radius: 3px;
    background: #fff;
    line-height: 40px;
    height: 40px;
    padding-left: 21px;
    font-size: 16px;
    color: #989898;
    width: 100%;
    font-family: GothamProLight;
    margin-bottom: 15px;
}

.text-empty::-webkit-input-placeholder {
    color: #a3a2a2
}

.text-empty.error {
    border: 1px solid #c43342
}

.text-empty.error::-moz-placeholder,
.text-empty.error::-webkit-input-placeholder {
    color: #c43342!important
}



/*services*/
.services{
    min-height: 655px;
    background: white;
    padding-top: 80px;
    padding-bottom: 30px;
	background: url("../images/back-side3.jpg") no-repeat center bottom;
}
.services .item-col .image{    
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 26px;    
    background: url("../images/circle.png") no-repeat center;
}

.services .item1 p{ padding: 0 50px;}

.services .item-col{ position: relative; padding: 0;}
.services .item-col:before{
    content: "";
    display: block;
    position: absolute;
    left: 60px;
    top: 1px;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    border: 10px solid white;
    padding: 10px;
    background: #f4f4f4;
    transition: 1s ease;
}
.services .item-col:hover:before{
    padding: 0;
    border-width: 0px;
}
.services p{
    font-size: 18px;
	line-height: 21px;
    color: #303033;
    font-family: GothamProRegular;
    text-align: center;
}
.services .title {
    font-size: 30px;
    text-align: center;
    padding: 33px 0 50px 0;
    display: block;
}
.services .description{
    text-align: center;
    color: #303033;
    font-size: 16px;
	line-height: 19px;
    font-family: GothamProRegular;
}
/*services==============*/

.section-small{
    background: #f0f0f0;
    min-height: 188px;
}

/*steps*/
.steps{
    background-image: url('../images/back-side.jpg');
    background-repeat: repeat-y;
    background-position: center top;        
}
.steps .div-table-cell{ height: 207px; line-height:36px; }
.block-images .item{
     background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    min-height: 342px;
    margin: 0;
    padding: 0 75px;
    text-align: center;
}
.steps .item.item1{ background-image: url('../uploads/step-1.jpg'); }
.steps .item.item2{ background-image: url('../uploads/step-2.jpg'); }
.steps .item.item3{ background-image: url('../uploads/step-3.jpg'); }
.steps .item.item4{ background-image: url('../uploads/step-4.jpg'); }
.steps .item.item5{ background-image: url('../uploads/step-5.jpg'); }

.steps .title{ margin-bottom: 21px;}

.name{
    display: inline-block;
    font-size: 18px;
    font-family: GothamProLight;
    color: white;
    width: auto;
    padding: 0 14px;
    text-align: center;
    position: relative;        
    margin-bottom: 22px;
}

.name:after,
.name:before{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 18px;
    background: white;
}

.name:after{
    right: -50px;
}
.name:before{
    left: -50px;
}
.block-images .title{
    font-family: GothamProLight;
    color: white;
    text-align: center;
    margin-bottom: 11px;
}
.block-images p{
    font-size: 14px;
    font-family: GothamProRegular;
    text-align: center;
    color: white;
    line-height: 25px;
}
/*steps==============*/

.signature{ margin: 70px 0 65px 0;}
.signature p{
    color: #303033;
    font-size: 16px;
    line-height: 20px;
    padding: 0 20px;
}

.section-clock{
    position: relative;
    padding-top: 37px;
    margin-top: -100px;
}
.section-clock .main-form{ min-height: 206px;}

.section-clock:after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0px;
    top: -121px;
    height: 521px;
    background: url("../images/back-clock.png") no-repeat center top;
}


/*section-news*/
.section-news{
    min-height:600px;
    background: url("../images/back-side1.jpg") no-repeat center top;    
}
.section-news .item-col{ min-height: 180px;}
.section-news .title{ font-size: 33px; padding: 75px 0;}
.section-news .title i{ font-size: 24px; font-family: GothamProLight; }
.section-news p { position: relative; z-index: 10;}
.section-news p span{
    font-family: GothamProMedium;
    font-size: 24px;
    padding-left: 20px;
    display: inline-block;
}

.section-news .item-col:nth-child(1) p:before{ content: ".01";}
.section-news .item-col:nth-child(2) p:before{ content: ".02";}
.section-news .item-col:nth-child(3) p:before{ content: ".03";}
.section-news .item-col:nth-child(4) p:before{ content: ".04";}

.section-news p:before{
    color: #eaeaea;   
    content: "";
    display: block;
    font-size: 80px;   
    width: 105px;
    height: 160px;
    font-family: GothamProBlack;
    left: 3px;
    top: -58px;
    position: absolute;
    z-index: -1;
}

/*section-news=======*/

.back{
    background: #f0f0f0;
}

.minHeight190{ min-height: 190px;}

.variants{
    background-image: url('../images/back-side2.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 65px;
}
.variants .title{ padding: 0 155px;}
.variants .div-table-cell{ height: 197px; line-height:36px; }
.variants .item.item1{ background-image: url('../uploads/variant-1.jpg'); }
.variants .item.item2{ background-image: url('../uploads/variant-2.jpg'); }
.variants .item.item3{ background-image: url('../uploads/variant-3.jpg'); }

.variants .name {
    margin-bottom: 32px;
}
.variants .block-images p{ line-height: 18px;} 
.variants .block-images .item {
    min-height: 290px;
    margin-bottom: 3px;
}


.grid{
    border: 1px solid #acacac;
    width: 100%;
}

.grid td{
    border: 1px solid #acacac;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    font-size: 16px;
    color: #303033;
    font-family: GothamProLight;
}
.grid thead td{    
    height: 80px;    
}
.grid tbody tr{
    height: 40px;
}
.grid tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.block-prices{ padding-top: 35px; }
.block-prices .title{ height: 125px;}

footer{
    height: 70px;
    background: white;
}
footer address{
    line-height: 70px;
    text-align: center;
    margin: 0;
}

.freedom{
    min-height: 600px;
    background-image: url('../images/back-freedom.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;    
    text-align: center;
    padding-bottom: 60px;
}

.freedom .title{
    padding: 70px 0 30px 0;
}

.size17{
    font-size: 17px;
}
.size20{ font-size: 20px; }

.div-phone{    
    line-height: 80px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 30px;
    color: #c43342;
    font-family: GothamProRegular;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 35px;
}


.freedom .item{
    margin-right: 10px;
    float: left;
}
.freedom .item:last-child{ margin-right: 0;}
.freedom .text-empty{ margin-right: 10px; margin-bottom: 10px; padding-left: 14px; max-width: 220px;}
.freedom input.small{ width: 120px;}
.freedom .main-form{ max-width: 940px;}
.freedom .inner-big .text-empty:last-child{ margin-right: 0;}
.freedom .main-form .title{ padding: 0; max-width: 460px; padding-bottom: 40px; margin: 0 auto;}

.block-map {
    position: relative;
    overflow: hidden;
    min-height: 500px;
}
.block-map iframe {
    height: 500px;
    margin-top: 0;
    width: 100%!important;
    border: none;
    pointer-events: none;
}


/*location*/
.location{
    width: 380px;
    position: absolute;
    left: 0;
    top: 0;
    height: 501px;
    background: #dd5867;
    color: white!important;
    z-index: 20;
}
.location .name{    
    line-height: 110px;
    font-size: 30px;
    font-family: GothamProRegular;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 0;
}
.location p.description{
    font-family: GothamProRegular;
    color: white;
    text-align: center;
}
.location .div-phone{
    color: white;
    text-align: center;    
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
}
.location .div-phone:after{
    content: "";
    display: block;
    width: 165px;
    height: 1px;
    position: absolute;
    left: 105px;
    background: white;
}
.location .div-phone:before{
    content: "";
    display: block;
    width: 165px;
    height: 1px;
    background: white;
    position: absolute;
    left: 105px;
}

.location .code{
    color: white;
    font-size: 16px;
}
/*location=======*/

.variants .block-prices .div-table-cell {
    height: 125px;
}


.main-top .title.line-height {
    padding: 39px 0 32px 0;
}

.no-form{
	min-height: 172px;
}
.no-form .title{
	line-height: 90px;
}